@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .mb-16 {
    margin-bottom: 6rem;
  }
}

/* Calendar picker icon color */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(27%) sepia(96%) saturate(1352%) hue-rotate(202deg) brightness(97%) contrast(96%);
  cursor: pointer;
}


